li a {
    transition-duration: 0.5s;
    background-color: rgba(17, 17, 17, 0.432);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 25%;
    border-radius: 50px;
    display: grid;
    color: white;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
}
.title2{
    font-size: 35px;
    margin-left: 7%;
}
#main-button{
    font-size: 25px;
}
.main-button1{
    margin-left: 20px;
}
.active{
    display: none;
}
.button1{
    margin-left: 20px;
    margin-top: 6px;
}
.button3{
    margin-left: 25%;
}